.clip {
    background: #F9F9F9;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 4px;
    overflow: hidden;
    padding: 4px 12px 4px 24px;
    position: relative;
    white-space: nowrap;
    transition: all 0.25s ease-in-out;
}

.clip:hover {
    background: #132329;
    color: #ffffff;
    padding-left: 10px;
}

.clip:before {
    background: url(../img/icon-play.png) right center no-repeat;
    background-size: 200%;
    content: '';
    display: block;
    height: 14px;
    left: 7px;
    overflow: hidden;
    position: absolute;
    top: 7px;
    width: 14px;
}

.clip:hover:before {
    opacity: 0;
}

.clipname.tighten {
    letter-spacing: -0.04em;
}

.clipname {
    position: relative;
    z-index: 9;
}

.counter {
    background: #b2caea;
    left: 0;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 0;
    transition: all 0.25s ease-in-out;
}

div {
    display: block;
}